html,
body,
div,
img{
	margin: 0;
	padding:0;
}
.game{
	overflow: hidden;
	position: relative;
	width: 320px;
	height: 568px;
	margin: 100px auto 0;
	background: url(../image/bg.png);
}
.scpre,
.life,
.game > img{
	position: absolute;
	top:-1000px;
}
.score{
	top:10px;
}
.life{
	width:60px;
	right: 5px;
	top: 10px;
}
.life img{
	float: left;
}